body{
	background-image: url("images/note.png");
	background-size:cover;
	margin: 0 auto;
	width:80%;
	text-align:center;
}

.container{
	margin-top:120px;
} 

#timer{
	font-weight: bold;
	font-size:80px;
	display:inline-block;
	color: #b95756;
}

#container{
	font-size:60px;
}

#input{
	margin-top:40px;
	font-style:italic;
	width:80%;
  	height: 200px;
  	font-size:40px;
	  border: 4px double black;
	  padding: 20px;
}

#input:focus {
  outline:solid 4px black;
}

#input::placeholder {
    text-align: center;
}

#result{
	text-decoration: underline;
	text-decoration-style: double;
	text-decoration-color: navy;
	font-weight:normal;
	font-size:70px;
    animation: fadein 5s linear 1s 1 normal;
	
}

@keyframes fadein {
	0% {opacity: 0} 

  100% {opacity: 1} 
}

.right{
    color: green;
}

.wrong{
    color: red;
    text-decoration: underline;
}


.resultcard{
	background-color: #b95756;
	border-radius: 20px;
	width: 50%;
	margin: 0 auto;
	font-family: 'futura';
	height: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	margin-top: 100px;
	margin-bottom: 100px;
	display: none;
}

.results{
	padding-left: 10px;
	padding-right: 10px;
	border: 1px solid black;
	border-radius: 20px;
	width: 50%;
	margin: 0 auto;
}

.resultcard > p{
	font-size: 20px;
	padding: 20px;
}